<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <link href="https://fonts.googleapis.com/css?family=Graduate" rel="stylesheet">

      <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

      <link rel="icon" type="image/png" href="img/logo.png" />

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <meta charset="utf-8">

      <title>Sysbyte - Solución al instante</title>
    </head>

    <body>

      <!-- CSS -->
      <style type="text/css">
      	.graduate{
      		font-family: 'Graduate', cursive;
      	}
      	.lobster{
      		font-family: 'Lobster', cursive;
      	}
      </style>
      <!-- CSS -->



      <!-- NavBar-->
      	<nav>
		    <div class="nav-wrapper black">
		      <a href="#!" class="brand-logo graduate">
		      	SYSBYTE
		      </a>
		      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		      <ul class="right hide-on-med-and-down">
		        <li><a href="sass.html">Inicio</a></li>
		        <li><a href="badges.html">Nosotros</a></li>
		        <li><a href="collapsible.html">Proyectos</a></li>
		        <li><a href="mobile.html">Contacto</a></li>
		      </ul>
		    </div>
		</nav>

		<ul class="sidenav" id="mobile-demo">
		  <li><a href="sass.html">Inicio</a></li>
		  <li><a href="badges.html">Nosotros</a></li>
		  <li><a href="collapsible.html">Proyectos</a></li>
		  <li><a href="mobile.html">Contacto</a></li>
		</ul>
      <!-- NavBar-->

      <!-- Parallax -->
       <div class="parallax-container">
	      <div class="parallax"><img src="img/parallax.jpg"></div>
	    </div>
	    <div class="section white">
	      <div class="row container">

	      	<!-- Nosotros -->
	      	<div class="center"><h4> <i class="material-icons medium">group</i> Sobre Nosotros</h4></div>
	      	<div class="col s12">
	            <h5 style="text-align: justify;">
	            	Somos un equipo de desarrollo que tiene como objetivo brindar software de calidad. Contamos con un equipo que se capacita constantemente con las tecnologías más estables para trabajar y llevar como producto final lo que cada cliente necesite. 
	            </h5>
	            <div class="col s12 l6 center">
	            	<img src="img/Sysbyte.png" width="300px" height="300px" style="margin: 10px;">
	            </div>
	            <div class="col s12 l6 center"> 
	            	<h5 class="lobster" style="margin: 10px;">
	            		 <br><br>
	            		 "Hagan lo que hagan, trabajen de buena gana, como para el Señor y no como para nadie en este mundo, conscientes de que el Señor los recompensará con la herencia. Ustedes sirven a Cristo el Señor"
	            		 <br><br>
	            		 Colosenses 3:23-24
	            	</h5>
	            </div>
	      	</div>
			<!-- Nosotros -->

			<!-- ¿Qué Ofrecemos? -->
			<br><br>
			<div class="row" style="margin-top: 15px;">
				<br>
				<div class="center"><h4>¿Qué Ofrecemos?</h4></div>
				<br>
				<div class="col l6 s12 m12">
			        <div class="card-panel white black-text">
					<div class="center">
						<i class="material-icons large">web</i>
					</div>
					
						<h5 style="text-align: center;">
						Sitios adaptables a cualquier dispositivo móvil o tablet.
						</h5>
				   
				    </div>
				</div>
				<div class="col l6 s12 m12">
					<div class="card-panel white black-text">
					<div class="center">
						<i class="material-icons large">code</i>
					</div>
					
						<h5 style="text-align: center;">
						Software con las tecnologías más avanzadas del mercado.
						</h5>
					
					</div>
				</div>
			</div>
			<!-- ¿Qué Ofrecemos? -->

        	</div>
	      </div>
	    </div>
	    <div class="parallax-container">
	      <div class="parallax"><img src="img/parallax.jpg"></div>
	    </div>
      <!-- Parallax -->

      <!-- Footer -->
       <footer class="page-footer black">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">SYSBYTE</h5>
                <p class="grey-text text-lighten-4">Brindamos soluciones a medida, desarrollando software
                que cumplan las expectativas de nuestros clientes.</p>
                <p class="grey-text text-lighten-4">¡Agradecemos su visita!</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Redes Sociales</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Whatsapp</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            SYSBYTE
            </div>
          </div>
        </footer>
      <!-- Footer -->

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
     
      <script>
      	document.addEventListener('DOMContentLoaded', function(){
      		//var elems = document.querySelectorAll('.sidenav');
      		//var instances = M.Sidenav.init(element, options);
      		M.AutoInit();
      	});
      </script>

    </body>
  </html>