<!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org">
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <link href="https://fonts.googleapis.com/css?family=Graduate" rel="stylesheet">

      <link rel="icon" type="image/png" href="img/logo.png" />

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <meta charset="utf-8">

      <title>Sysbyte - Solución al instante</title>
    </head>

    <body>

      <!-- CSS -->
      <style type="text/css">
      	.graduate{
      		font-family: 'Graduate', cursive;
      	}
      </style>
      <!-- CSS -->



      <!-- NavBar-->
      	<nav>
		    <div class="nav-wrapper black">
		      <a href="#!" class="brand-logo graduate">
		      	SYSBYTE
		      </a>
		      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		      <ul class="right hide-on-med-and-down">
		        <li><a href="sass.html">Inicio</a></li>
		        <li><a href="badges.html">Nosotros</a></li>
		        <li><a href="collapsible.html">Proyectos</a></li>
		        <li><a href="mobile.html">Contacto</a></li>
		      </ul>
		    </div>
		</nav>

		<ul class="sidenav" id="mobile-demo">
		  <li><a href="sass.html">Inicio</a></li>
		  <li><a href="badges.html">Nosotros</a></li>
		  <li><a href="collapsible.html">Proyectos</a></li>
		  <li><a href="mobile.html">Contacto</a></li>
		</ul>
      <!-- NavBar-->

      <!-- Parallax -->
       <div class="parallax-container">
	      <div class="parallax"><img src="img/parallax.jpg"></div>
	    </div>
	    <div class="section white">
	      <div class="row container">

	      	<!-- Nosotros -->
	        <h2 class="header">Nosotros</h2>
	         <div class="row">
			    <div class="col s12">
			      <ul class="tabs">
			        <li class="tab col s3"><a href="#test1" style="color:black">Nuestro Orígen</a></li>
			        <li class="tab col s3"><a href="#test2" style="color:black">Misión y Visión</a></li>
			        <li class="tab col s3"><a href="#test3" style="color:black">Compromiso</a></li>
			        <li class="tab col s3"><a href="#test4" style="color:black">El Equipo</a></li>
			      </ul>
			    </div>
			    <div id="test1" class="col s12">
			    	<br>
			    	<div class="col s12 m4">
			    		<img src="img/Sysbyte.png" width="300px" height="300px">
			    	</div>
			    	<div class="col s12 m8">
			    		  <div class="card white">
					        <div class="card-content white-text">
					          	<p style="font-size: 24px; color:black"><u>NUESTRO ORÍGEN</u></p>
					          	<p style="text-align: justify; font-size: 24px; color:black; margin: 10px;"><b class="graduate">SYSBYTE</b> nace como un emprendimiento, donde nuestro principal objetivo es brindar software de calidad.
					    	  	Buscamos la eficiencia y la innovación en nuestros desarrollos y cumplir con los rangos altos de calidad en el mercado. </p>
							</div>
					      </div>
			    	</div>
			    </div>
			    <div id="test2" class="col s12">
			    	<div class="row">
			    		<br>
				    	<div class="col s12 m6">
				    	   <div class="card white">
					        <div class="card-content white-text">
					    		<p style="font-size: 24px; color:black"><u>MISIÓN</u></p>
					    		<p style="text-align: justify; font-size: 24px; color:black; margin: 10px;">Tenemos como <b>misión</b> brindar software de calidad, llevar a nuestros clientes la solución que
					    		cumpla con las expectativas, agregando nuestra creatividad y calidad en
					    		el desarrollo.</p>
				    		</div>
					       </div>
				    	</div>
				    	<div class="col s12 m6">
				    	 <div class="card white">
					        <div class="card-content white-text">
				    			<p style="font-size: 24px; color:black"><u>VISIÓN</u></p>
				    			<p style="text-align: justify; font-size: 24px; color:black; margin: 10px;">Nuestra <b>visión</b> es convertirnos en una Empresa que logre ser referencia en la industria del software del desarrollo profesional. <br>
				    			Contamos con un equipo capacitado para ello.</p>
				    	 	</div>
					      </div>
				    	</div>
			    	</div>
			    </div>
			    <div id="test3" class="col s12">
				    <div class="card white">
						 <div class="card-content white-text">
					    		<p style="font-size: 24px; color:black"><u>COMPROMISO</u></p>
					    		<p style="text-align: justify; font-size: 24px; color:black; margin: 10px;">Nuestro <b>compromiso</b> es cumplir con nuestro trabajo. Pulimos las ideas que cada cliente ha propuesto, para llevar como producto final un desarrollo
					    		de calidad y eficiente en su función como solución. 
					    		</p>
					    </div>
					</div>
				 </div>
			    </div>
			    <div id="test4" class="col s12">
			    	<div class="card white">
						 <div class="card-content white-text">
					    		<p style="font-size: 24px; color:black"><u>EQUIPO</u></p>
					    		<p style="text-align: justify; font-size: 24px; color:black; margin: 10px;"><b class="graduate">SYSBYTE</b> cuenta con un equipo capacitado para desarrollar
					    		software de calidad. Como equipo se ha propuesto la constante capacitación en las tecnologías más rentables de la actualidad.
					    		Contamos con personal que controla, gestiona y lidera cada proyecto, así como también personal que trabaja en el diseño y la usabilidad de
					    		cada desarrollo y por supuesto encargados de la calidad y la
					    		funcionalidad del sistema creado.
					    		</p>
					    </div>
					</div>
			    </div>
			  </div>
			  <!-- Nosotros -->

        
	      </div>
	    </div>
	    <div class="parallax-container">
	      <div class="parallax"><img src="img/parallax.jpg"></div>
	    </div>
      <!-- Parallax -->

      <!-- Footer -->
       <footer class="page-footer black">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">SYSBYTE</h5>
                <p class="grey-text text-lighten-4">Brindamos soluciones a medida, desarrollando software
                que cumplan las expectativas de nuestros clientes.</p>
                <p class="grey-text text-lighten-4">¡Agradecemos su visita!</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Redes Sociales</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Whatsapp</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            SYSBYTE
            </div>
          </div>
        </footer>
      <!-- Footer -->

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
     
      <script>
      	document.addEventListener('DOMContentLoaded', function(){
      		//var elems = document.querySelectorAll('.sidenav');
      		//var instances = M.Sidenav.init(element, options);
      		M.AutoInit();
      	});
      </script>

    </body>
  </html>